<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.mlh.phonegapbasico"
    version   = "1.0.0">

<name>PhonegapBasico</name>

<description>
Ejercicio basico de phonegap
</description>

<author href="https://example.com" email="you@example.com">
Mario Laserna
</author>

</widget>
